@model SearchQueryModel

@{
    ViewData["Title"] = "eBooks";
}
<h1 class="text-center text-justify mb-5">Welcome to our eBook world</h1>
@* Search Bar *@
<div class="input-group rounded col-md-6 mr-auto">
    <input class="form-control rounded" placeholder="Search" aria-label="Search"
           aria-describedby="search-addon" id="searchBar" name="SearchTermTitle" />
    <span class="input-group-text border-0">
        <i class="fas fa-search"></i>
    </span>
</div>
@* Filtering *@
<div class="container" id="filtering_searching_managing">
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h3>Genres</h3>
                @foreach (var gener in Model.Geners)
                {
                    <div class="form-check">
                        <input class="form-check-input book_gener" type="checkbox" value="@gener.Id" name="@gener.Name">
                        <label class="form-check-label" for="flexCheckDefault">
                            @gener.Name
                        </label>
                    </div>
                }
            </div>
            <div class="col">
                <h3>Category</h3>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Latest
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Series
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Discount
                    </label>
                </div>
            </div>
            <div class="col">
                <h3>Rarity</h3>
                @foreach (var rarity in Model.BookRarities)
                {
                    <div class="form-check">
                        <input class="form-check-input book_rarity" type="checkbox" value="@rarity.Id" name="@rarity.Name">
                        <label class="form-check-label" for="flexCheckDefault">
                            @rarity.Name
                        </label>
                    </div>
                }
            </div>
            <div class="col">
                <h3>Sort By</h3>
                <div class="form-group">
                    <label>Order by</label>
                    <select class="form-control" id="book-sorting">
                        <option value="1">All</option>
                        <option value="2">Date</option>
                        <option value="3">Date Descending</option>
                        <option value="4">Price</option>
                        <option value="5">Price Descending</option>
                        <option value="6">Title</option>
                        <option value="7">Title Descending</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
@* EBook products *@
<div class="row mt-5" id="all_electronic_books">
    @foreach (var eBook in Model.ElectronicBooks)
    {
        <div class="card ml-4 mb-4 electronic_book_product" style="width: 13rem;">
            <img class="card-img-top" src="https://m.media-amazon.com/images/I/41gS+bWw3XL.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-truncate">@eBook.Title</h5>
                <p class="card-text text-truncate">Description: @eBook.Description</p>
                <p class="card-text text-truncate">Author: @eBook.Author</p>
                <p class="card-text">CopySold: @eBook.CopySold</p>
                <p class="card-text">Rarity: @eBook.BookRarityName</p>
                <p class="card-text">Geners: @string.Join(',', eBook.Geners.Select(x => x.Name))</p>
                <a href="#" class="btn btn-primary mb-3">Buy for @eBook.Price BGN</a>
                <a class="btn btn-primary" asp-route-eBookId="@eBook.Id" asp-controller="Product" asp-action="Details">View More</a>
            </div>
        </div>
    }
</div>

<div id="pagination">
    <input id="currentPage" hidden value="1" />
    <input id="maxPage" hidden value="@Math.Ceiling((double)Model.TotalBooks / 8)" />
    <input id="minPage" hidden value="1" />
    <a><i class="fa fa-angle-double-left" hidden id="minPageBtn"></i></a>
    @for (int i = 1; i <= Math.Ceiling(Model.TotalBooks / 8.0); i++)
    {
    <a class="@(i == 1 ? "current-page" : "") pageNumer" id="@i">@i</a>
    }
    <a><i class="fa fa-angle-double-right" id="maxPageBtn"></i></a>
</div>>

@* Filtering functionality *@
<script src="~/js/querySearch.js"></script>

